<div id="content">

</div>

<script type="text/javascript">
  window.ImageAssets = {};
  window.ImageAssets['gear'] = "<%= asset_path('gear.png') %>"
  window.ImageAssets['search'] = "<%= asset_path('search.svg.png') %>"
  window.ImageAssets['right-arrow'] = "<%= asset_path('right_arrow.png') %>"
</script>
