.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #e33d26;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  height: 42px;
  opacity: 1;
  z-index: 100;
  -webkit-transition: background 1s, opacity 0.5s;
}

.nav.top {
  background: rgba(25, 25, 25, 0.88);
}

.logo {
  display: block;
  margin: 2px auto 0 auto;
  position: fixed;
  z-index: 100;
  left: calc(50% - 125px);
  font-size: 28px;
  line-height: 38px;
  width: 250px;
}

.button:hover {
  border-bottom: 3px solid white;
}

.nav-item {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 0;
  margin: 0 10px;
  display: block;
  font-size: 14px;
  line-height: 20px;
}

.nav-icon {
  display: block;
  height: 100%;
}

.nav-icon.right {
  float: right;
}

.nav-item.left {
  float: left;
}

.nav-item.right {
  float: right;
}

.user-info img {
  display: block;
  width: 18px;
  height: 18px;
  padding: 5px;
  border: 1px solid #be1e08;
  margin-top: 6px;
  margin-right: 10px;
  border-radius: 5px;
}

.user-info.down img {
  border: 1px solid #666;
}

.user-info img:hover {
  background: #be1e08;
  cursor: pointer;
}

.user-info.down img:hover {
  background: #e33d26;
}

.nav-icon.gear {
  position: relative;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0 10px;
}

.right-arrow {
  position: relative;
  float: left;
  width: 25px;
}

.right-arrow img {
  border-radius: 2px;
  padding-left: 15px;
  left: -18px;
  position: absolute;
  transition: left .3s;
}

.right-arrow img:hover {
  left: -10px;
  border: 1px solid #e33d26;
}
