.cider-index {
  width: 1000px;
  margin: 0 auto 20px;
}

.cider-index article {
  background: white;
  display: block;
  float: left;
  width: 226px;
  height: 226px;
  margin: 11px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.cider-index .fixed-height {
  height: 140px;
  width: 100%;
  object-fit: cover;
}

.cider-index article:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.cider-index-info {
  padding: 10px;
  font-size: 13px;
}

.cider-index-item-name {
  font-size: 20px;
  font-weight: 700;
}

.cider-index-select {
  font-size: 14px;
}

.cider-index-select select {
  float: right;
  background: #fff;
  padding: 10px;
  margin-right: 15px;
  font-weight: 500;
}

.cider-index-select label {
  float: right;
  margin-right: 5px;
  line-height: 19px;
  font-weight: 500;
}


.cider-index-load-more {
  padding-top: 20px;
  display: block;
  margin: auto;
}

.cider-index-load-more button {
  margin: auto;
  display: block;
  padding: 10px 25px;
  border: 1px solid #000;
  border-radius: 5px;
  font-weight: 500;
}

.cider-index-load-more button:hover {
  cursor: pointer;
  background: #000;
  color: #fff;
}
