.want-got-container {
  position: relative;
}
.cider-index-item-wantgot {
  position: absolute;
  left: 0px;
  top: -35px;
  width: 205px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.want-button {
  display: inline-block;
  text-shadow: #000 0 0 10px;
}

.want-button:hover {
  color: #ccc;
}

.got-button {
  float: right;
  text-shadow: #000 0 0 10px;
}

.got-button:hover {
  color: #ccc;
}
