.cider-detail {
  background: #fff;
  width: 800px;
  margin: 0 auto 20px;
}

h1.cider-head {
  text-transform: none;
  margin-top: 24px;
}

img.cider-thumb {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.brewery-subhead {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
  padding: 2px 12px 2px 0;
  border-right: 1px solid #ccc;
  margin-right: 7px;
}

.cider-subhead {
  text-align: center;
  margin: auto;
}

.style-subhead {
  margin-left: 5px;
  display: inline-block;
}

.cider-details {
  display: block;
  background: #fff;
  padding: 0 20px;
  z-index: 40;
}

.cider-detail-description {
  margin-bottom: 20px;
  line-height: 22px;
  letter-spacing: .01em;
}

.cider-detail-stats {
  display: block;
  border-top: 3px solid black;
  border-bottom: 1px solid #aaa;
  margin: 10px 0;
  padding: 10px 0;
  font-weight: 300;
}

.cider-detail-ratings {
  float: right;
}

.cider-detail-abv {
  float: left;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #ddd;
}

.cider-detail-organic {
  float: left;
}
