.review-index-header {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
}

.review-index-item {
  background: #fff;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.review-index-ul>li:first-child {
  border-top: 0;
}

.review-title {
  font-weight: 700;
}

img.author-thumb {
  float: left;
  border-radius: 60px;
  width: 40px;
  height: 40px;
}

.review-info {
  margin-left: 50px;
}

.review-meta-user {
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
  padding: 2px 12px 2px 0;
  border-right: 1px solid #ccc;
  margin-right: 7px;
}

.review-meta-ratings {
  display: inline-block;
  margin-left: 5px;
}

.review-content {
  margin-top: 5px;
  font-size: 16px;
  line-height: 21px;
  word-wrap: break-word;
  white-space: pre-line;
}

.review-footer {
  color: #777;
  font-size: 13px;
  margin-top: 5px;
}

.review-edit-button:hover {
  color: #e33d26;
}

.review-delete-button:hover {
  color: #e33d26;
}

.review-edit-button {
  margin-right: 5px;
  float: right;
}

.review-delete-button {
  margin-right: 5px;
  float: right;
}

@media screen and (max-width: 580px) {
  .review-index-item {
    padding: 10px;
  }

  .review-meta-user {
    padding: 0;
    border-right: 0;
    margin-right: 0;
  }

  .review-meta-ratings {
    display: inline-block;
    font-weight: 300;
    margin: 5px 0 0 0;
    line-height: 150%;
  }

  .review-edit-button {
    margin-top: 5px;
    float: left;
  }

  .review-delete-button {
    margin-top: 5px;
    float: right;
  }
}
