.top-review {
  padding: 20px;
}

.review-form {

}

.rate-toggle-button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.rate-toggle-button:hover {
  color: #e33d26;
}

.review-form > .author-thumb {
  float: left;
  margin-right: 7px;
}

.text-submit {
  max-width: 700px;
}

.rating-sub {
  display: inline-block;
}

textarea.rating-sub {
  width: 100%;
  box-sizing: border-box;
}

.rating-bar {
  margin-bottom: 5px;
}

.rating-button {
  color: #e33d26;
  float: right;
}

.cancel-button {
  float: right;
  margin-right: 7px;
  border-right: 1px solid #ccc;
  padding-right: 7px;
}

.rating-button:hover {
  cursor: pointer;
}

.cancel-button:hover {
  cursor: pointer;
}

.review-box {
  height: 100px;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: height 0.2s linear, opacity 0.2s;
  -moz-transition: height 0.2s linear, opacity 0.2s;
  transition: height 0.2s linear, opacity 0.2s;
}

.review-box.hidden {
  opacity: 0;
  height: 0px;
  overflow: hidden;
}
