#sidebar {
  position: fixed;
  top: 42px;
  bottom: 0;
  background: rgba(25, 25, 25, 0.97);
  width: 235px;
  padding: 10px 0 0;
  z-index: 200;
  letter-spacing: 0.4px;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
          transition: transform 0.4s, opacity 0.4s;
}

#sidebar.open {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.sidebar-inner {
  padding: 20px;
  color: #fff;
}

.sidebar-top {
  padding-bottom: 105px;
}

.sidebar-header {
  color: #999;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}

.wantgot-list {

}

.sidebar-list {
  display: block;
  font-weight: 500;
  padding: 2px 0;
}

.sidebar-list:hover {
  background: #aaa;
  cursor: pointer;
}

.sidebar-list.wants {
  font-weight: 500;
}

.sidebar-list-left {
  float: left;
}

.sidebar-list-right {
  float: right;
}

.sidebar-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
}

.sidebar-user-info {
  color: #666;
  position: relative;
}

.sidebar-bottom-email {
  font-size: 12px;
  margin-bottom: 10px;
}

.sidebar-bottom-email:hover {
  color: #eee;
  text-decoration: underline;
}

.sidebar-bottom-links {
  font-size: 14px;
  margin-bottom: 10px;
  color: #eee;
}

.sidebar-bottom-link {
  margin-right: 10px;
  padding-right: 10px;
}

.sidebar-bottom-link.link {
  border-right: 1px solid #666;
}

.sidebar-bottom-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sidebar-login {
  padding: 15px 40px;
  border: 1px solid #666;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  margin: auto;
  display: block;
}

.sidebar-login:hover {
  background: #e33d26;
  border: 1px solid #e33d26;
}
