.search-wrap {
  position: fixed;
  display: block;
  height: auto;
  width: 100%;
  z-index: 100;
  left: 150px;
  top: -142px;
  margin: -100px 0 0 -150px;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  transition: top 0.2s;
}

.header-search.open > .search-wrap {
  top:142px;
}

.inner-search {
  width: 1510px;
  margin: auto;
  min-height: 60px;
  padding-top: 30px;
}

.search-bar {
  max-width: 850px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  height: 25px;
  font-weight: 500;
  font-size: 18px;
  line-height: 12px;
  color: #000;
  opacity: 1;
  border: 0;
  outline: none;
  padding: 15px;
  text-align: left;
  border-radius: 0;
}

.small-search-results {
  position: absolute;
  background: #f2f2f2;
  border: 1px solid #aaa;
  color: #000;
  text-align: left;
  left: CALC(50% - 425px);
  width: 848px;
  top: 60px;
  font-size: 20px;
  line-height: 34px;
}

.small-search-results li {
  padding-left: 15px;
  font-weight: 500;
}

.small-search-results li b {
  font-weight: 900;
}

.small-search-results li:hover {
  background: #ccc;
  color: #fff;
  cursor: pointer;
}
