/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;

  border: 0;
  margin: 0;
  padding: 0;

  background: transparent;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: sans-serif;
  background: #f2f3ef;
  -webkit-font-smoothing: antialiased;
}

input, textarea {
  background: white;
  border: 1px solid #ccc;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

input:focus, textarea:focus {
  outline:0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #e33d26;
  font-size: 1.08em;
  font-weight: 700;
  color: #fff;
  height: 42px;
  opacity: 1;
  -webkit-transition: background 1s, opacity 0.5s;
}

.nav.top {
  background: #000;
  opacity: .9;
}

.logo {
  display: block;
  margin: 2px auto 0 auto;
  position: fixed;
  z-index: 100;
  left: calc(50% - 125px);
  width: 250px;
}

button:focus {
  outline:0;
}

.nav-item {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  display: block;
  float: left;
}

.nav-item:hover {
  border-bottom: 3px solid white;
}

.user-info {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  display: block;
  float: right;
}

.user-info.button:hover {
  cursor: pointer;
  border-bottom: 3px solid white;
}

.content {
  width: 800px;
  margin: 42px auto 20px auto;
  padding-top: 80px;
}

label {
  display: block;
  margin: 0px;
}

.content button {
  margin: auto;
  font-weight: 700;
  border: 1px solid #aaa;
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: block;
}

.content button:hover {
  cursor: pointer;
  border: 1px solid black;
  background: black;
  color: white;
  padding: 10px;
}

#content {
  margin-top: 55px;
}

.cider-index {
  width: 1000px;
  margin: 0 auto 20px;
}

.cider-index article {
  background: white;
  display: block;
  float: left;
  width: 226px;
  height: 226px;
  margin: 10px;
  border: 1px solid #aaa;
  overflow: hidden;
}

.cider-index .fixed-height {
  height: 113px;
  width: 100%;
  object-fit: cover;
}

.cider-index article:hover {
  cursor: pointer;
  -moz-box-shadow: 0px 0px 5px #999;
  -webkit-box-shadow: 0px 0px 5px #999;
  box-shadow: 0px 0px 5px #999;
}

.cider-index-info {
  padding: 10px;
  font-size: .9em;
}

.cider-index-item-name {
  font-size: 1.42em;
  font-weight: 700;
}


.cider-detail {
  background: #fff;
  width: 800px;
  margin: 0 auto 20px;
}

img.cider-thumb {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.brewery-subhead {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
  padding: 2px 12px 2px 0;
  border-right: 1px solid #ccc;
  margin-right: 7px;
}

.cider-subhead {
  text-align: center;
  margin: auto;
}

.style-subhead {
  margin-left: 5px;
  display: inline-block;
}

.review-index-item {
  background: #fff;
  padding: 10px;
  border-bottom: 1px solid #f2f3ef;
}

.review-title {
  font-weight: 700;
}

img.author-thumb {
  float: left;
  border-radius: 60px;
  width: 40px;
  height: 40px;
}

.review-info {
  margin-left: 50px;
}

.review-ratings {
  position: relative;
  float: right;
  top: -20px;
  margin-left: 5px;
}

.review-box {
  text-align: right;
}

.rating-sub {
  display: inline-block;
}

.rating-button {
  color: #e33d26;
}

.rating-button:hover {
  cursor: pointer;
}

.cancel-button:hover {
  cursor: pointer;
}

.text-submit {

}

.text-submit.hidden {
  display: none;
}
