/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.content {
  width: 800px;
  margin: 42px auto 20px auto;
  padding-top: 80px;
}

.content button {
  margin: auto;
  font-weight: 700;
  border: 1px solid #aaa;
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: block;
}

.content button:hover {
  cursor: pointer;
  border: 1px solid black;
  background: black;
  color: white;
  padding: 10px;
}

#content {
  margin-top: 55px;
}

.cider-index {
  width: 1000px;
  margin: 0 auto 20px;
}

.cider-index article {
  background: white;
  display: block;
  float: left;
  width: 226px;
  height: 226px;
  margin: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.cider-index .fixed-height {
  height: 140px;
  width: 100%;
  object-fit: cover;
}

.cider-index article:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.cider-index-info {
  padding: 10px;
  font-size: .9em;
}

.cider-index-item-name {
  font-size: 1.42em;
  font-weight: 700;
}
.want-got-container {
  position: relative;
}
.cider-index-item-wantgot {
  position: absolute;
  left: 10px;
  top: -105px;
  width: 205px;
  color: white;
  font-weight: 700;

}

.want-button {
  display: inline-block;
  text-shadow: #000 0 0 10px;
}

.want-button:hover {
  color: #ccc;
}

.got-button {
  float: right;
  text-shadow: #000 0 0 10px;
}

.got-button:hover {
  color: #ccc;
}


.cider-detail {
  background: #fff;
  width: 800px;
  margin: 0 auto 20px;
}

h1.cider-head {
  text-transform: none;
  margin-top: 24px;
}

img.cider-thumb {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.brewery-subhead {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
  padding: 2px 12px 2px 0;
  border-right: 1px solid #ccc;
  margin-right: 7px;
}

.cider-subhead {
  text-align: center;
  margin: auto;
}

.style-subhead {
  margin-left: 5px;
  display: inline-block;
}

.cider-details {
  padding: 24px;
}

.review-index-header {
  margin-bottom: .33em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: .66em;
}

.review-index-item {
  background: #fff;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.review-title {
  font-weight: 700;
}

img.author-thumb {
  float: left;
  border-radius: 60px;
  width: 40px;
  height: 40px;
}

.review-form {
  margin: 1em 0 1em 0;
}

.rate-toggle-button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: .33em;
}

.review-info {
  margin-left: 50px;
}

.review-meta-user {
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
  padding: 2px 12px 2px 0;
  border-right: 1px solid #ccc;
  margin-right: 7px;
}

.review-meta-ratings {
  display: inline-block;
  margin-left: 5px;
}

.review-content {
  margin-top: .33em;
}

.review-footer {
  color: #777;
  font-size: .8em;
  margin-top: .33em;
}

.review-edit-button:hover {
  color: #e33d26;
}

.review-delete-button:hover {
  color: #e33d26;
}

.review-edit-button {
  margin-right: 5px;
  float: right;
}

.review-delete-button {
  margin-right: 5px;
  float: right;
}



.review-form > .author-thumb {
  display: inline-block;
  margin-right: 7px;
}

.text-submit {
  max-width: 700px;
}

.rating-sub {
  display: inline-block;
}

textarea.rating-sub {
  width: 100%;
  box-sizing: border-box;
}

.rating-bar {
  margin-bottom: .33em;
}

.rating-button {
  color: #e33d26;
  float: right;
}

.cancel-button {
  float: right;
  margin-right: 7px;
  border-right: 1px solid #ccc;
  padding-right: 7px;
}

.rating-button:hover {
  cursor: pointer;
}

.cancel-button:hover {
  cursor: pointer;
}

.review-box {
  max-height: 200px;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
}

.review-box.hidden {
  max-height: 0px;
  overflow: hidden;
}


.signup-form {
  width: 800px;
  margin: 20px;
  position: relative;
}

.signup-form > label {
  margin: auto;
}
