/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;

  border: 0;
  margin: 0;
  padding: 0;

  background: transparent;
}

body {
  font-family: sans-serif;
  background: #f2f3ef;
}

.nav {
  background: #e33d26;
  font-size: 1.08em;
  font-weight: 700;
  color: #fff;
  height: 42px;
  position: relative;
}

button:focus {
  outline:0;
}

.nav-item {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  display: block;
  float: left;
}

.nav-item:hover {
  border-bottom: 3px solid white;
}

.user-info {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  display: block;
  float: right;
}

.user-info.button:hover {
  cursor: pointer;
  border-bottom: 3px solid white;
}

.cider-index {
  width: 800px;
  margin: 0 auto 20px;
}

.cider-index > ul {

}

.cider-index li {
  text-align: center;
  background: white;
  display: block;
  float: left;
  width: 150px;
  height: 150px;
  margin: 40px;
  padding: 10px;
  border: 1px solid #aaa;
  overflow: hidden;
}

.cider-index li:hover {
  cursor: pointer;
  -moz-box-shadow: 0px 0px 5px #999;
  -webkit-box-shadow: 0px 0px 5px #999;
  box-shadow: 0px 0px 5px #999;
}
